<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>738194359798-mjsr5d7nao8d0emt0k7lulqu8dhhodhv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.738194359798-mjsr5d7nao8d0emt0k7lulqu8dhhodhv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>738194359798-dl82lnmfj4euuehh9t0350jv80hej8i1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAwKOgTrV0grps06qOLFXnuxf976pUk7Ek</string>
	<key>GCM_SENDER_ID</key>
	<string>738194359798</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.joykirat.DIS</string>
	<key>PROJECT_ID</key>
	<string>beacon-b8b9d</string>
	<key>STORAGE_BUCKET</key>
	<string>beacon-b8b9d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:738194359798:ios:ad4846ad74eb4ccd5f73d7</string>
	<key>DATABASE_URL</key>
	<string>https://beacon-b8b9d-default-rtdb.firebaseio.com</string>
</dict>
</plist>